* {box-sizing:border-box}

/* Main Content*/

h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

.main-page-h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 500%;
}

nav {
    display: flex;
    justify-content: center;
}

a {
    padding: 8px;
    display: inline-block;
}

a link:hover {
    background-color: white;
}

img {
    border: 3px solid black;
    align-content: center;
    height: 300px;
}

.services {
    font-weight: bold;
}

footer {
    text-align: center;
    background-color: rgb(150, 150, 189);
    padding: 2px;
}

html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 100%;
    margin-bottom: 4%;
}

.aboutus {
    text-align: center;
}



button {
    text-align: center;
}

.contactuslink {
    text-align: center;
    font-size: 40px;
}

/* Image SlideShow */










/* Media Queries */

@media (min-width: 789px) {









}