* {box-sizing:border-box} 

/* Main Content*/

h2 {
    text-decoration: underline;
}

.main-page-h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 500%;
}

nav {
    display: flex;
    justify-content: center;
}

body {
    font-size: x-large;
}

a {
    padding: 30px;
    display: inline-block;
}




.image-top {
    border: 3px solid black;
    align-content: center;
    height: 100%;
}

.services {
    font-weight: bold;
    margin-left: 5px;
    list-style-type: none;
}

.servicestitle {
    	flex-grow: 1
}

footer {
    text-align: center;
    background-color: rgb(150, 150, 189);
    padding: 2px;
    margin: 0;
}

html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    display: flex;
    flex-shrink: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 4%;
}

.aboutus {
    text-align: center;
	flex-grow: 1;
}

.rows {
	flex-direction: row;
	display:flex;
    align-content: flex-start;
    flex-wrap: wrap;
}

.rows div {
	width: min-content;
	padding: 15px;
	text-align: center;
}

/* Link Styles */


a:link {
    color: red; 
  }

  a:visited {
    color: orangered;
  }

  a:hover {
      color: black;
  }


/* Example of nth child */


li:nth-child(2n+1) {
    text-decoration: underline;
}

/* Form Styles */


.contactus-footer {
    margin-top: 60px;
}

.contactuslink {
    text-align: center;
    font-size: 60px;
    padding-bottom: 40px;
}

fieldset {
    max-width: 50%;
}

button {
    text-align: center;
}

.main-form {
    margin-left: 10px;
}



/* Media Queries */

@media (max-width: 709px) {



    .main-page-h1 {
        font-size: 200%;
        align-self: auto;
    }

    nav {
        flex-direction: column;
        flex-shrink: 1;
        font-size: xx-large;
        justify-content: center;
    }



    .image-top {
        width: auto;
        margin-top: 80px;
        max-width: 90%;
    }


    h2 {
        display: flex;
        justify-content: center;
        padding-right: auto;
    }

    .services {
        width: 100%;
        text-align: center;
        padding-right: 50px;
    }


    

    

    .servicestitle {
        text-align: center;
	
    }

    a {
        padding: 8px;
        text-align: center;
    }

}


@media screen 
and (min-width: 710px)
and (max-width: 800px){

    .main-page-h1 {
          font-size: 300%;
      }
	  
	  
  }

  @media (max-width: 710px) {
	.rows {
		flex-direction: column;
	}
	.rows div {
		width: 100%;
	}
} 






